.text-div{
    top:50%;
    left:50%;
    transform : translate(-50,-50);
    background : rgba(0,0,0,0,4);
}





#videoBG{
    position : fixed;
    z-index : -1;
}

@media(min-aspect-ratio: 16/9){
    #videoBG
    {
     width: 100%;
     height: auto;


}

@media(max-aspect-ratio: 16/9){
    #videoBG
    {
     width: 100%;
     height: auto;
     

}
@media (max-width: 767px)
{
    #videoBG{
        display:none;
    }
    body{
        background:url('');
        background-size :cover;
    }
}