@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@681&display=swap');

 body{
     overflow:hidden;
     font-family: 'Dancing Script', cursive;
     color : grey;
 }
.video-background{
    position:relative;
    width:100%;
    min-height: 100vh;
    background-color:rgba(0,0,0.2)
    
}

caption{
   position : absolute;
   top: 30%;
   width: 100%;
   color: white;
}
.caption h1{
    font-size : 3rem;
    font-weight:700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
 